/*!
 * Start Bootstrap - New Age v5.0.7 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */

section.cookieConsent {
  font-family: Roboto, sans-serif;
}

section.cookieConsent p {
  margin: 24px 0;
  line-height: 2;
}

section.cookieConsent .wrapper {
  padding: 32px;
}

section.cookieConsent .cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  transition: 400ms;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
}

section.cookieConsent .cookie-container.active {
  bottom: 0;
}

section.cookieConsent .cookie-container a {
  color: #f5f6fa;
}

section.cookieConsent .cookie-btn {
  background: black;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}
