/*!
 * Start Bootstrap - New Age v5.0.7 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  background: #333333;
}

a {
  color: #36aeff;
  transition: all .35s;
}

a:hover, a:focus {
  color: #0399ff;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: black;
  background-color: white;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: black;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  font-size: 30px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: black;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: black;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: black;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: black;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    color: black;
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: black;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: black;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: black;
  }
  #mainNav.navbar-shrink {
    border-color: black;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: black;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: black;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: black;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: black;
  }
}

header.masthead {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url("../img/Background1.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

header.masthead .introduction {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 150px 1% 1%;
  margin-right: 30%;
  margin-left: 30%;
}

header.masthead .introductionName {
  font-size: 80px;
}

header.masthead .catchphrase {
  text-transform: uppercase;
  font-size: 30px;
}

header.masthead .firstPageBlocks {
  padding-top: 100px;
}

header.masthead .firstPageLeft {
  background-color: rgba(0, 0, 0, 0.9);
  float: left;
  padding: 1%;
  box-sizing: border-box;
  margin-left: 10%;
}

header.masthead .firstPageRight {
  background-color: rgba(0, 0, 0, 0.9);
  float: left;
  padding: 1%;
  box-sizing: border-box;
  margin-left: 20%;
}

header.masthead .form {
  width: 50%;
  font-size: 20px;
  position: relative;
  height: 60px;
  overflow: hidden;
}

header.masthead .form input {
  background: none;
  width: 100%;
  height: 100%;
  color: #36aeff;
  padding-top: 20px;
  border: none;
  outline: none;
}

header.masthead .form label {
  background: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

header.masthead .form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #36aeff;
  transform: translateX(-110%);
  transition: transform 0.3s ease;
}

header.masthead .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

header.masthead .form input:focus + .label-name .content-name, header.masthead .form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 16px;
  color: #36aeff;
}

header.masthead .form input:focus + .label-name::after, header.masthead .form input:valid + .label-name::after {
  transform: translateX(0%);
}

header.masthead .containerButton {
  margin: 0;
  padding: 0;
}

header.masthead .btn {
  border: 1px solid #36aeff;
  border-radius: 0;
  background: none;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

header.masthead .btn1 {
  color: #36aeff;
}

header.masthead .btn1:hover {
  color: #fff;
}

header.masthead .btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #36aeff;
  transition: 0.5s;
  z-index: -1;
}

header.masthead .btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

header.masthead .btn:hover::before {
  height: 180%;
}

@media (max-width: 1350px) {
  header.masthead {
    margin-top: 0;
  }
  header.masthead .introductionName {
    font-size: 35px;
  }
  header.masthead .catchphrase {
    font-size: 18px;
  }
  header.masthead .introductionText {
    font-size: 16px;
  }
  header.masthead .introduction {
    padding: 1%;
    margin: 100px 5% 0 5%;
  }
  header.masthead .participant {
    font-size: 25px;
  }
  header.masthead .content-name {
    font-size: 18px;
  }
  header.masthead .teacher {
    font-size: 25px;
  }
  header.masthead .firstPageBlocks {
    padding: 0;
  }
  header.masthead .firstPageLeft {
    padding: 1%;
    margin: 5% 5% 0 5%;
  }
  header.masthead .firstPageRight {
    padding: 1%;
    margin: 5% 5% 0 5%;
  }
}

section.learnMore .headline {
  font-size: 50px;
  color: white;
}

section.features {
  background-image: url("../img/Background3.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 0;
}

section.features .textFeatures {
  color: white;
}

section.features .section-heading {
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.9);
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: #36aeff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: white;
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
  color: white;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: white;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

section.learnMore {
  background-image: url("../img/Background2.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding-bottom: 100px;
}

section.learnMore .pageTwoTextContainer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1%;
  float: left;
  margin-right: 40%;
}

section.learnMore .headlineLM {
  color: white;
  margin-bottom: 40px;
}

section.learnMore .paragraphLM {
  color: white;
}

section.learnMore .device-container {
  max-width: 325px;
  margin-left: 60%;
}

@media (max-width: 900px) {
  section.learnMore .pageTwoTextContainer {
    float: none;
    margin-left: 5%;
    margin-right: 5%;
  }
  section.learnMore .device-container {
    margin: 0;
    align-items: center;
  }
}

section.cookieConsent {
  font-family: Roboto, sans-serif;
}

section.cookieConsent p {
  margin: 24px 0;
  line-height: 2;
}

section.cookieConsent .wrapper {
  padding: 32px;
}

section.cookieConsent .cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  transition: 400ms;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
}

section.cookieConsent .cookie-container.active {
  bottom: 0;
}

section.cookieConsent .cookie-container a {
  color: #f5f6fa;
}

section.cookieConsent .cookie-btn {
  background: black;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}
