// Styling for the features section
section.features {
  background-image: url('../img/Background3.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 0;

  .textFeatures {
    color: white;
  }

  .section-heading {
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.9);

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  .device-container,
  .feature-item {
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 325px;
    margin: 0 auto;
  }

  .device-container {
    margin-bottom: 100px;
    @media(min-width: 992px) {
      margin-bottom: 0;
    }
  }

  .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    h3 {
      font-size: 30px;
    }

    i {
      font-size: 80px;
      display: block;
      margin-bottom: 15px;
      background: #36aeff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
