// Styling for the footer
footer {
    padding: 25px 0;
    text-align: center;
    color: white;
    background-color: $gray-darker;
    p {
        font-size: 12px;
        margin: 0;
        color: white;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: white;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}
