// Styling for learn more
section.learnMore {
  background-image: url('../img/Background2.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding-bottom: 100px;

  .pageTwoTextContainer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1%;
    float: left;
    margin-right: 40%;
  }

  .headlineLM {
    color: white;
    margin-bottom: 40px;
  }

  .paragraphLM {
    color: white;
  }

  .device-container {
    max-width: 325px;
    margin-left: 60%;
  }

  @media(max-width: 900px) {
    .pageTwoTextContainer {
      float: none;
      margin-left: 5%;
      margin-right: 5%;
    }

    .device-container {
      margin: 0;
      align-items: center;
    }
  }
}
