// Styling for the masthead
header.masthead {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  color: white;

  background-image: url('../img/Background1.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;


  .introduction {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 150px 1% 1%;
    margin-right: 30%;
    margin-left: 30%;
  }

  .introductionName {
    font-size: 80px;
  }

  .catchphrase {
    text-transform: uppercase;
    font-size: 30px;
  }

  .firstPageBlocks {
    padding-top: 100px;
  }

  .firstPageLeft {
    background-color: rgba(0, 0, 0, 0.9);
    float: left;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 10%;

  }

  .firstPageRight {
    background-color: rgba(0, 0, 0, 0.9);
    float: left;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 20%;
  }

  .form {
    width: 50%;
    font-size: 20px;
    position: relative;
    height: 60px;
    overflow: hidden;
  }

  .form input {
    background: none;
    width: 100%;
    height: 100%;
    color: #36aeff;
    padding-top: 20px;
    border: none;
    outline: none;
  }

  .form label {
    background: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
  }

  .form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #36aeff;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
  }

  .content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }

  .form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 16px;
    color: #36aeff;
  }

  .form input:focus + .label-name::after, .form input:valid + .label-name::after {
    transform: translateX(0%);
  }

  .containerButton {
    margin: 0;
    padding: 0;
  }

  .btn {
    border: 1px solid #36aeff;
    border-radius: 0;
    background: none;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
  }

  .btn1 {
    color: #36aeff;
  }

  .btn1:hover {
    color: #fff;
  }

  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #36aeff;
    transition: 0.5s;
    z-index: -1;
  }

  .btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
  }

  .btn:hover::before {
    height: 180%;
  }

  @media(max-width: 1350px) {

    margin-top: 0;

    .introductionName {
      font-size: 35px;
    }

    .catchphrase {
      font-size: 18px;
    }

    .introductionText {
      font-size: 16px;
    }

    .introduction {
      padding: 1%;
      margin: 100px 5% 0 5%;
    }

    .participant {
      font-size: 25px;
    }

    .content-name {
      font-size: 18px;
    }

    .teacher {
      font-size: 25px;
    }

    .firstPageBlocks {
      padding: 0;
    }

    .firstPageLeft {
      padding: 1%;
      margin: 5% 5% 0 5%;
    }

    .firstPageRight {
      padding: 1%;
      margin: 5% 5% 0 5%;
    }

  }
}






