// Styling for the navbar
#mainNav {
  border-color: black;
  background-color: white;
  @include transition-all;
  @include heading-font;

  .navbar-brand {
    color: black;
    @include heading-font;

    &:hover,
    &:focus {
      font-size: 30px;
    }
  }

  .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: black;
  }

  .navbar-nav {
    > li {
      > a {
        font-size: 11px;
        @include alt-font;

        &.active {
          color: black;

          &:hover {
          }
        }
      }

      > a,
      > a:focus {
        color: black;

        &:hover {
          color: black;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-brand {
      color: black;

      &:hover,
      &:focus {
        color: black;
      }
    }
    .navbar-nav > li > a,
    .navbar-nav > li > a:focus {
      color: black;

      &:hover {
        color: black;
      }
    }
    &.navbar-shrink {
      border-color: black;
      background-color: white;

      .navbar-brand {
        color: black;

        &:hover,
        &:focus {
          color: black;
        }
      }

      .navbar-nav > li > a,
      .navbar-nav > li > a:focus {
        color: black;

        &:hover {
          color: black;
        }
      }
    }
  }
}
